{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
        <h1>Recipes that match your fridge:</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Dish</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
                {% for r in recipes %}
                <tr>
                  <td>{{ r[0] }} </td>
                  <td> <a href="{{ r[1] }}">open recipe</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}