{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Frige contents {% endblock %}</h1>
    <div style="width: 50%; margin: auto">
        {% for item in fridge %}
        <div class='book'>
            <h3>Name: {{ item[0] }}</h3>
            <i><p> {{ item[1] | join(" <hr> ") | safe }}  </p></i>
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="{{ url_for('RoutesBlueprint.add_fridge_item_route') }}" class="btn btn-primary">Add food</a>
        <button type="button" onclick="window.location.href='{{ url_for( 'RoutesBlueprint.add_fridge_item_route' ) }}';">Add food</button>
    </div>
{% endblock %}